<header>
    <nav>
    <div class="navBar"
      <ul class="navigation"'>
        <li><a href="/">CRUDYe</a></li>
        <li><a href="/kanye_types"> Kanye_types </a></li>
        <li><a href="/kanye_instances">Kanye_instances</a></li>
        <li><a href="/kanye_instances/new"> Add New Kanye_instances </a></li>
      </ul>
    </div>
    </nav>
</header>

