body {
  margin: 0;
  font-family: Helvetica;
}

ul {
    list-style-type: none;
    margin: 0px 10px;
    padding: 0;
}


a {
  text-decoration:none;
  color: inherit;
}

a:hover {
  background-color: #F8F8F8;
}

.home-image {
  position: absolute;
  bottom: 50px;
  right: 50px;
  max-width: 100%;
  height: auto;
}

@media (max-width: 400px) {
  .home-image {
    left: auto;
  }
}

.navBar {
 display: flex;
 list-style-type: none;
 flex-flow: row wrap;
 justify-content: space-between;
 padding-left: 15px;
 padding-right: 15px;
}

img {
  height: 250px;
  width: auto;
}

.typeImg {
display: flex;
flex-direction: column;
align-items: center;
}

.typeHeader {
display: flex;
flex-direction: column;
align-items: center;
}

.instanceImg {
display: flex;
flex-direction: column;
align-items: center;
}

.instanceHeader {
display: flex;
flex-direction: column;
align-items: center;
}

h1 {
display: flex;
flex-direction: column;
align-items: center;
margin: 10px 10px;
}

.kanye_instance {
display: flex;
flex-direction: column;
align-items: center;
}

.form {
display: flex;
flex-direction: column;
align-items: center;
margin-top: 20px;
}

.form-row {
  display: flex;
}

.form-row input {
flex: 1;
}

form label {
  padding-right: 3px;
}

.edit-image {
display: flex;
flex-direction: column;
align-items: center;
margin: 20px;
}

.delete-image {
display: flex;
flex-direction: column;
align-items: center;
margin: 20px;
}

.button {
display: flex;
flex-direction: column;
align-items: center;
}

.showEditDelete {
display: flex;
flex-direction: row;
align-items: center;
justify-content: space-around;
}

.modify {
  border: none;
}

.modify:focus {
  outline:0;
}

.modify:hover {
  background-color: #F8F8F8;
}
