<% include ../../partials/boilerplate %>

<% kanye_instances.forEach((kanye_instance) => { %>
<div class="kanye_instance">
  <a href="/kanye_instances/<%=kanye_instance.id%>"><h1><%=kanye_instance.context%></h1></a>
</div>
<div class="instanceImg">
  <img src="<%=kanye_instance.img_url%>" />
</div>
<% }) %>

<% include ../../partials/end %>
