<% include ../../partials/boilerplate %>
<br>
<br>

<% kanye_instances.forEach((kanye_instance) => { %>
<div class="kanye_instance">
  <a href="/kanye_instances/<%=kanye_instance.id%>"><br><br><h1><%=kanye_instance.context%></h1></a>
</div>
<br>
<br>
<div class="instanceImg">
  <img src="<%=kanye_instance.img_url%>" />
</div>
<% }) %>

<% include ../../partials/end %>

