<% include ../../partials/boilerplate %>
<br>
<br>

<div class="kanye_instance">

<div class="delete-image">
  <img src="http://pixel.nymag.com/imgs/daily/entertainment/upload/2010/11/kanye/22_condokanyecovers_3_ballerina.nocrop.w560.h670.jpg">
</div>

<div class="form-page">
  <form action="/kanye_instances" method="POST">
<div class="form-row">
  <label>Context of a Kanye instance: </label>
  <input type="text" name="context" placeholder="context" /><br>
</div>
<div class="form-row">
  <label>Link to an image: </label>
  <input type="text" name="img_url" placeholder="img_url" /><br>
</div>
  <label>Which type of Kanye does instance belong to: </label>
  <select name="kanye_type_id">
  <% kanye_types.forEach((kanye_type) => { %>
  <option value="<%=kanye_type.id%>"><%=kanye_type.kanye_type%></option>
  <% }) %>
  </select>
  <br><br><br>
  <div class="button">
    <input class="modify" type="submit" value="Add kanye_instance"/>
  </div>
</form>
</div>

<br>
<a href="/kanye_instances"> Back to kanye_instances </a>

</div>

<% include ../../partials/end %>
