<% include ../../partials/boilerplate %>
<br>
<br>
<br>

<div class="typeHeader">
  <h1><%= kanye_types.kanye_type%></h1>
</div>

<div class="kanye_instance">
  <% kanye_instances.forEach((kanye_instance) => { %>
  <a href="/kanye_instances/<%=kanye_instance.id%>"><h3><%=kanye_instance.context%></h3></a>
  <% }) %>
</div>


<% include ../../partials/end %>
